.container {
  width: 90%;
  margin: 0 auto;
}
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  background-image: linear-gradient(rgb(1, 0, 7), rgb(19, 44, 203));
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.header1 img{
 height: 10px;
 width:20px;
 color: white;
}
.header1 a{
  color: rgb(253, 253, 253);
  text-decoration: none;
  text-align: center;
}
.header1 a:hover{
  color: rgb(253, 253, 253);
  text-decoration: underline;
}
.header1-1{
 margin: 0% 1%;
 padding: 0% 1%;
}
.header1-2{
  margin: 0% 10%;
  padding: 0% 10%;
}
.header1-3{
  padding: 0% 1%;
  margin: 0% 1%;
}

.header2 {
  display: flex;
  justify-content: space-evenly;
  height: 20px;
  background-image: linear-gradient(rgb(0, 72, 255), rgb(0, 0, 0));
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.header2 img{
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.header2 a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header2 a:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
#homeslider {
  background-color: brown;
  height: 200px;
}
#cbodyh {
  background-color: rgb(30, 193, 128);
  position: relative;
  width: auto;
  height: auto;
}
#hrecommend {
  background-color: bisque;
  position: relative;
  height: 200px;
  width: 200px;
}
#hdeals {
  background-color: rgb(240, 255, 196);
  position: relative;
  height: 200px;
  width: 200px;
  orientation: right;
}
#hreviews {
  background-color: rgb(223, 128, 11);
  position: relative;
  height: 200px;
  width: 200px;
}
.mainbody{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}
.lbody{
  background-color: orange;
  width: 10%;
}
.cbody{
  background-color: brown;
}
.cbodyh{
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
  width: 80%;
}
.rbody{
  background-color: orange;
  width: 10%
}